services:
  mongodb:
    image: mongo:7-jammy
    container_name: mongodbAS
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - backend
    restart: always

networks:
  backend:

volumes:
  mongo_data:
